#nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#nav a:hover {
    background: #00ace6;
}

#nav a {
    display: block;
    padding: 1em;
  }


    #nav a {
        text-decoration: none;
        letter-spacing: .45rem;
    }

    #nav{
        list-style: none;
        text-transform: uppercase;
    }

    #nav li{
        position: relative;
    }

    .theDropdown{
        position: absolute;
        z-index: 2;
    }